.reveal h1, .reveal h2, .reveal h3, .reveal h4 { color: black; text-transform: none; }

.reveal h1 {
	-webkit-box-shadow: none;
	text-shadow: none;
}


.reveal section img { border: none; -webkit-box-shadow: none; }

.reveal a:not(.image) {
	color: rgb(0,178,158);
	text-decoration: none;
}

.reveal li#fragment { color: black;  }

::selection { color: black; }

body { color: black;}

.reveal .slides section li {
	font-size: 52px;
	line-height: 72px;
	color: black;
}

.reveal .slides section.faded-fragments .fragment {
	color: #999;
/* 	opacity: 0.5; */
}

.reveal .slides section.faded-fragments .fragment.visible {
	color: black;
	opacity: 1;
}

.reveal a:hover {
	color: #00B29E;
	text-decoration: underline;
}

.reveal .slides section .fragment.start-visible {
	opacity: 1;
}